.badge-container{
   display: flex;
    flex-direction: column;
    gap: 20px;
}

.badge-list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    width: 100%;
}

.badge{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.badge-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--primary-white-100);
}

.badge-card-img img{
    width: 120px;
    height: 100%;
    border-radius: 100%

}

.badge h3{
    font-size: var(--font-size-regular);
    font-family: var(--text-font-family-regular);
}