.button{
    width: max-content;
    height: 25px;
    border-radius: 12px;
    border: none;
    padding: 10px 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--bouton-font-family);
    font-size: var(--bouton-corps-size);
    letter-spacing: 0.7px;
}

.button .isArrow{
    width: 20px;
    height: 20px;
}

.button > img{
    width: 18px;
    height: 18px;
}

.red-full{
    background-color: var(--secondary-red-100);
    color: var(--primary-white-100);
}
.red-full:hover{
    background-color: var(--primary-red-hover-100);
}
.red-full:focus{
    background-color: var(--primary-red-100);
}



.red-stroke{
    background-color: transparent;
    border: 2px solid var(--secondary-red-100);
    color:  var(--secondary-red-100);
}
.red-stroke:hover{
    background-color: #FF8E7C10;
}
.red-stroke:focus{
    background-color: #FF8E7C15;
}



.blue-full{
 background-color: var(--secondary-blue-dark-100);
    color: var(--primary-white-100);
}

.blue-full:hover{
    background-color: var(--secondary-blue-dark-hover);
}



.blue-stroke{
    background-color: transparent;
    border: 2px solid var(--secondary-blue-dark-100);
    color:  var(--secondary-blue-dark-100);
}
.blue-stroke:hover{
    background-color: #303B5610;
}
.blue-stroke:focus{
    background-color: #303B5615;
}

.button-round{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    border: none;
    cursor: pointer;
}

.button-round img{
    width: 100%;
    height: 100%;
}

.blue{
    background: var(--quaternary-blue-dark-100);
}

.white{
    background: var(--primary-white-100);
}

.signet-button{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    padding: 5px;
}

/* FAVORITE BUTTON */
.favorite{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: var(--primary-white-100);
    border-radius: 100%;
    cursor: pointer;
}

.favorite img{
    width: 20px!important;
    height: 20px!important;
    min-height: 20px!important;
    min-width: 20px!important;
    object-fit: contain;
}

