/* CARD COLUMN */
.card-column {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
    gap: 20px;
  width: 100%;
  height: 100%;
  padding: 15px;
  border-radius: 20px;
  background-color: var(--primary-white-100);
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    height: 100%;
}
.card-column .card-image{
    position: relative;
}

.card-column .card-image img{
  width: 100%;
  height: auto;
  min-width: 310px;
  max-height: 170px;
  border-radius: 15px;
  object-fit: cover;
}

.card-column .card-column__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.card-title-infos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
    height: 100%;
}

.title-subtitle{
  font-size: var( --sub-title-big-size);
  color: var(--primary-blue-40);
  font-family: var(--text-font-family-light);
}


/* CARD FULL */
.card-full {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
    width: inherit;
    align-self: stretch;
  border-radius: 20px;
    padding: 30px;
    height: inherit;
}

.card-full h1{
    font-size: 25px;
  color: var(--primary-white-100);
  font-family: var(--title-font-family);
    text-transform: uppercase;
}


/* CARD FULL SMALL */
.card-full-small{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    gap: 20px;
    width: inherit;
    align-self: stretch;
    border-radius: 20px;
    padding: 15px;
    height: inherit;

    min-height: 9rem;

    position: relative;
}


.card-full-small h1{
    font-size: 25px;
    color: var(--primary-white-100);
    font-family: var(--title-font-family);
    text-transform: uppercase;
}

.card-full-small p{
    font-size: var(--sub-title-big-size);
    color: var(--primary-white-100);
    font-family: var(--title-font-family);
}


/* CARD ROW */

.card-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    width: 100%;
    min-width: 18rem;
    background: var(--primary-white-100);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    border: 2px solid var(--primary-white-100);
}
.card-row__image{
    width: 100%;
}
.card-row__image img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    max-height: 10rem;
    object-fit: cover;
}

.card-row__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.subtitle{
    color: var(--primary-blue-40);
    font-family: var(--subtitle-font-family);
    font-size: var(--sub-title-big-size);
}


/* MYSTUDY CARD */
.mystudy-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 30px;

    background: var(--primary-white-100);
    border-radius: 20px;
    min-height: 40%;
}

.mystudy-card{
    display: flex;
    flex-direction: column;
    min-width: 45%;
}

.mystudy-card, .mystudy-content{
    height: 100%;
}

.mystudy-infos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    height: 100%;
    padding: 5px 0;
}

.mystudy-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 100%;
}


/* CARD FORUM */
.selected{
    border: 2px solid var(--primary-blue-40);
    color: var(--primary-white-100);
}
.card-row_container{
    display: flex;
    flex-direction: row;
    gap: 35px;
    width: 100%;
}

.card_avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.card_avatar img{
    width: 55px!important;
    height: 55px!important;
    border-radius: 100%;
    object-fit: cover;
}

.infos{
    align-items: flex-start;
    justify-content: flex-start;
}

.answer_action{
    margin: 0;
    justify-content: space-between;
    align-items: center;
}


.card_row_col{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    width: auto;
}

.line{
    width: 100%;
    height: 1px;
    background-color: #e3e3e3;
}

.card-icon{
    font-size: var(--text-corps-size);
    color: var(--secondary-blue-dark-100);
    font-family: var(--text-font-family-regular);
    margin: 0;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;

    cursor: pointer;
}

.like{
    display: block;
    width: 20px;
    height: 20px;
    background: var(--icon-heart-grey) no-repeat center/contain;
    cursor: pointer;
}

.isLike{
    display: block;
    width: 20px;
    height: 20px;
    background: var(--icon-heart-blue-full) no-repeat center/contain;
}

.answer{
    display: block;
    width: 20px;
    height: 20px;
    background: var(--icon-edit-grey) no-repeat center/contain;
}

.card_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    gap: 20px;
}
.card_content_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
}


.container-forum__content .subtitle {
    color: var(--primary-blue-dark-100);
    opacity: 0.3;
    font-family: var(--subtitle-font-family);
    font-size: var(--sub-title-big-size);
}
/* FORUM ANSWER */

.card_sidebar_answer{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    border-radius: 20px;
    padding: 10px;
    background: var(--primary-blue-light-100);
}

.card-row_col{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    width: auto;
}

/*.card-forum-answer.form{
    position: fixed;
    bottom: 0;
    left: 0;
    background: var(--primary-white-100);
    width: auto;
}*/
