.menu-bar{
    background-color: var(--primary-bg-white);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #00000010;
}

.menu-bar__row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 18px 0 0 0;
    gap: 20px;
}
.menu-bar__item {
    border-bottom: 1px solid var(--primary-blue-dark-100);
    height: 32px;
    padding: 0 10px;
    min-width: 100px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-family: var(--text-font-family-semi-bold);
    font-size: var(--text-corps-size);
    color: var(--primary-blue-dark-100);
}

.menu-bar__item{
    font-family: var(--text-font-family-semi-bold);
    font-size: var(--text-corps-size);
    color: var(--primary-blue-dark-100);
}

.dark-mode .menu-bar__item{
    color: var(--primary-black-100);
}

.menu-bar__item.active{
    border-bottom: 1px solid var(--secondary-red-100);
}

.menu-bar__item.active a{
    color: var(--secondary-red-100);
}

/* MOBILE */
.mobile .menu-bar{
    min-height: 70px;
}
.mobile .menu-bar__row{
    width: 100%;
    padding: 0;
    gap: 0!important;
}
.mobile .menu-bar__item{
    border-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile .menu-bar__item a{
    font-family: var(--text-font-family-semi-bold);
    font-size: var(--text-corps-size);
    color: var(--primary-red-100);
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile .menu-bar__item.active{
    background-color: var(--primary-red-100);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    color: var(--primary-white-100)!important;
}




