.pastille{
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 6px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: var(--text-font-family-regular);
    font-size: 14px;
    font-weight: 600;
}

.courses,
.work,
.composer{
    color: var(--tertiary-black-30);
    background: transparent;
}

.courses:hover,
.work:hover,
.composer:hover{
    background-color:#00000010;
    color: #00000080;
}

.courses.active{
    background-color: #FF8E7C33;
    color: var(--primary-red-100);
}

.work.active{
    background-color: #68B65B33;
    color: var(--primary-green-100);
}

.composer.active{
    background-color: #55648B33;
    color: var(--primary-blue-40);
}

.violon{
    background-color: #e6f5f3;
    color: #00bfa5;
}

.violoncelle{
    background-color: #ffebee;
    color: #f44336;
}

.alto{
    background-color: #e8eaf6;
    color: #3f51b5;
}

.flute{
    background-color: #e8f5e9;
    color: #4caf50;
}

.clarinette{
    background-color: #fff3e0;
    color: #ff9800;
}

.trombone{
    background-color: #e3f2fd;
    color: #2196f3;
}

.haut-bois{
    background-color: #fce4ec;
    color: #e91e63;
}

.piano{
    background-color: #e0f7fa;
    color: #00bcd4;
}

.chant{
    background-color: #fffde7;
    color: #ffc107;
}


