.sidebar{
    background: var(--background-color-light);
    border-left: 1px solid #00000010;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 25vw;
}

.sidebar__content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.sidebar__img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}

.sidebar__img img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
    max-height: 25vh;
}

.sidebar__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.no-gap{
    gap: 0px;
}

.sidebar__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;

    border-top: 0.5px solid rgba(0, 0, 0, 0.30);
    padding: 15px 0px;
}

.sidebar__row p:before{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    padding: 5px;
    background: var(--primary-red-100) url("../../assets/icones/icon-validate-White.svg") no-repeat center/60%;
    display: inline-block;
    margin-right: 10px;
}
.sidebar__row p{
    color: var(--secondary-red-100);
    font-size: var(--text-corps-size);
    font-family: var(--text-font-family-semi-bold);
}

.sidebar__row span{
    color: var(--primary-red-100);
    font-size: var(--text-corps-size);
    font-family: var(--text-font-family-semi-bold);
}

.historique span,
.historique p{
    color: var(--tertiary-blue-dark-100);
}

.sidebar__row.historique p:before{
    background: var(--tertiary-blue-dark-100) url("../../assets/icones/icon-crown-Blue-full.svg") no-repeat center/60%;
}

.sidebar__history{
    border-radius: 10px;
    background: rgba(135, 151, 178, 0.10);
    height: 100%;
    padding: 20px
}

/* SIDE BAR FORUM */

.isForum{
    max-width: 40vw;
}

.sidebar_fixed{
    position: fixed;
    overflow: scroll;
    max-width: 40vw;
    width: 100%;
    height: 100%;
}

.form_forum{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}


.isForum .card_avatar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
}

.isForum .card_avatar img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: cover;
}

.isForum .infos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
}
.card-forum-answer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
.card_sidebar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.card_crow_col{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}


/* SIDEBARLESSON */

.lesson_row_header{
    display: flex;
    width: 100%;
    padding: 15px 0px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.lesson_row{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.lesson_icon{
    width: 22px;
    height: 22px;
    border-radius: 100%;
    background-color: var(--tertiary-blue-dark-100);
    background-image: var(--icon-time-white-stroke);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
}

.validate{
    background-color: var(--primary-red-100);
    background-image: var(--icon-validate-white);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.disabled{
    background-color: #C1C1C1;
    background-image: var(--icon-cross-white-stroke);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
}


.lesson_title{
    font-family: var(--text-font-family-semi-bold);
    font-size: var(--title-small-corps-size);
    color: var(--tertiary-blue-dark-100);
    width: 100%;
}
.validate .lesson_title{
    color: var(--primary-red-100);
}
.disabled .lesson_title{
    color: #C1C1C1;
}

.lesson_container{
    display: flex;
    flex-direction: column;
}

.lesson_details_infos{
    font-family: var(--text-font-family-regular);
    font-size: var(--text-corps-size);
    color: var(--tertiary-blue-dark-100);
    width: 100%;
}

.lesson_details_row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
    padding: 15px 0px;
    border-top: 0.5px solid var(--secondary-black-20);
}

.lesson_icon_chevron{
    width: 20px;
    height: 20px;
    background-image: var(--icon-chevron-blue-full);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    transition: all 0.3s ease;
    transform: rotate(90deg);
}

.lesson_details_content{
    border-radius: 10px;
    background: rgba(135, 151, 178, 0.10);
    padding: 10px;
    width: 100%;
    font-family: var(--text-font-family-light);
    font-size: var(--text-corps-size);
    display: flex;
    flex-direction: column;
    gap: 5px;
}




/* MOBILE */

.mobile .sidebar{
    display: none;
}

