.container-player {
    position: relative;
    width: 100%;
    max-height: 70vh;
    height: 65vh;
    overflow: hidden;
}

#video-player {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
}


.controlsContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    height: inherit;
}
.controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 20px;
}

.controlsIcon--small{
    width: 25px;
    height: 25px;
    cursor: pointer;
}


.actions{
    position: relative;
    width: inherit;
    margin: 20px;
}


.controls-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


input[type="range"] {
    -webkit-appearance: none !important;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    border: none;
    height: 4px;
    width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: var(--primary-red-100);
    border-radius: 50%;
    border: none;
    height: 13px;
    width: 13px;
    cursor: pointer;
}


input[type="range"]::-moz-range-progress {
    background: red;
}


.mute-btn{
    cursor: pointer;
    border-radius: 10px;
    background: var(--primary-red-100);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
}





.velocity {
    appearance: none;
    background: none;
    color: white;
    outline: none;
    border: none;
    text-align: center;
    font-size: 16px;
}



