.container-forum{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    width: inherit;
}

.forum-row{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 0 30px;
}


.container-forum__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.container-forum__content.sidebarOpen{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.isForum{
    position: relative;
}