.row-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    border-radius: 20px;
}
.column-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
    max-width: 70vw;
}

/* LIST */

.container__filters{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.container-home{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
}

.container__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container-home__content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    width: inherit;
    height: 100%;
    border-radius: 20px;
    overflow: scroll;
    padding: 20px 0;
}


/*MOBILE*/
.mobile .column-container{
    max-width: 100%;
}
.mobile .container-home{
    width: auto;
}

.mobile .container-home__content{
    flex-direction: column;
    overflow: auto;
    max-width: 100%;
}

.mobile .row-container{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.mobile .container__header{
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}