.container-list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    padding: 0 30px;
}

.list-row{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}


.container-list__content{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    width: 100%;
}