/* CSS for the accordion */
form{
    width: 100%;
}

.form-section {
    width: 100%;
}

.section-container {
    background: var(--background-color-light);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
}

.section-lesson {
    cursor: pointer;
    background: var(--background-color-light);
    transition: height 0.3s ease-in-out;
    height: 30px; /* Initial height, adjust as needed */
    border-radius: 10px;
}

.section-lesson:last-child {
    border-bottom: none;
}

.section-lesson.active {
    height: auto; /* Expanded height, it will grow to fit content */
}

.section-lesson h3 {
    margin: 0;
    padding: 0;
}

/* CSS for the "Ajouter une leçon" button */
.section-lesson-add {
    cursor: pointer;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.section-lesson-add:hover {
    background-color: #0056b3;
}
