.card_avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.card_avatar img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
}

.card-column__buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}