html{
 min-height: 100vh;
  height: auto;
  display: flex;
  align-items: stretch;
}
body, #root, .App{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: inherit;
  display: flex;
  align-items: stretch;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
