html{
  min-height: calc(100vh - 120px)!important;
  height: fit-content!important;
}
body, #root, .App{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
