default:
    suites:
        default:
            contexts:
                - Hetic\Behat\KernelContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                class: App\Kernel
                environment: test
            bootstrap: 'tests/bootstrap.php'
        Imbo\BehatApiExtension:
                    apiClient:
                        base_uri: http://localhost:1234
                        verify: false
                        env: test
