parameters:
    level: 8
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false


    parallel:
        processTimeout: 500.0
        # Uncomment when you regenerate the baseline @see https://github.com/phpstan/phpstan/issues/3827
        #maximumNumberOfProcesses: 1

    paths:
        - src
        - tests
